---
import Layout from "../layouts/Layout.astro";
import FirstPage from "../components/FirstPage.astro";
import Hero from "../assets/img/hero.png";
import Death from "../assets/icons/death.svg";
---
<Layout>
  <!-- <FirstPage /> -->
  <div class="h-screen w-full overflow-hidden flex items-center justify-center">
    <div class="text-center space-y-20">
      <p class="text-secondary text-4xl font-grotesk">Développeur créatif</p>
      <h1 class="text-9xl font-fruktur uppercase text-secondary">Mathis Guellati</h1>
      
      <button 
        id="death-button"
        class="bg-secondary rounded-full w-15 h-15 overflow-hidden mx-auto flex items-center justify-center gap-0 hover:w-75 hover:gap-4 transition-all duration-500 group cursor-pointer"
      >
        <img src={Death.src} alt="Ne pas cliquer" class="w-10 h-10 flex-shrink-0">
        <p class="uppercase font-grotesk font-bold text-2xl whitespace-nowrap w-0 opacity-0 group-hover:w-auto group-hover:opacity-100 transition-all duration-500 overflow-hidden">
          Ne cliquer pas
        </p>
      </button>
    </div>
    <img 
      src={Hero.src} 
      alt="Hero Image" 
      class="w-full h-full object-cover absolute -z-10"
    />
  </div>
</Layout>
<script>
  setTimeout(() => {
    console.log("Script exécuté");
    const firstPage = document.getElementById("first-page");
    console.log("FirstPage trouvé:", firstPage);
    if (firstPage) {
      firstPage.style.transition = "transform 1s";
      firstPage.style.transform = "translateY(-100%)";
      firstPage.style.pointerEvents = "none";
      setTimeout(() => {
        console.log("Suppression de FirstPage");
        firstPage.remove();
      }, 500);
    }
  }, 3000);
</script>