---
import Circle from '../assets/icons/circle.png';
---

<div id="first-page" class="absolute top-0 h-full w-full bg-primary z-50 flex flex-col space-y-15 items-center justify-center">
    <h1 class="text-4xl md:text-5xl lg:text-6xl font-fruktur text-secondary uppercase">ne bougez pas</h1>
    <img src={Circle.src} alt="Circle" class="animate-spin" />
    <p class="text-xl md:text-2xl lg:text-4xl font-bold text-secondary font-grotesk opacity-0">Bienvenue dans mon portfolio</p>
</div>

<script>
  setTimeout(() => {
    const welcomeText = document.querySelector('.font-grotesk');
    if (welcomeText) {
      welcomeText.style.transition = "opacity 1s";
      welcomeText.style.opacity = "1";
    }
  }, 1000);
</script>