---
import Lk from '../assets/icons/linkedin.svg';
import Git from '../assets/icons/gh.svg';
import Arrow from '../assets/icons/arrow2.svg';
---

<footer>
    <div>
        <h2>Mathis Guellati</h2>
        <ul>
            <li>développeur technique</li>
            <li>concepteur d'expérience</li>
            <li>innovateur créatif</li>
        </ul>
    </div>
    <div>
        <div>
            <a href="https://github.com/geetix-prog" target="_blank">
                <img src={Git.src} alt="GitHub" />
                <img src={Arrow.src} alt="Arrow" />
            </a>
        </div>
        <div>
            <div>
            <a href="https://www.linkedin.com/in/mathis-guellati-631502329/" target="_blank">
                <img src={Lk.src} alt="LinkedIn" />
            </a>
        </div>
        </div>
        <div>

        </div>
    </div>
</footer>