<header
  id="site-header"
  class="fixed top-5 lg:top-3 w-full z-40 p-2 lg:p-6 overflow-visible transform transition-transform duration-300"
>
  <nav class="relative max-w-6xl mx-auto overflow-visible">
    <div
      class="bg-neutral-900 bg-opacity-50 rounded-full w-full flex items-center justify-between px-2 lg:px-8 h-12 lg:h-16 z-10"
    >
      <a
        href="/projects"
        class="text-white text-sm lg:text-2xl hover:text-primary font-fruktur tracking-widest uppercase rounded-full px-3 lg:px-6 py-1 lg:py-1.5 hover:bg-secondary transition-all duration-500"
        >Projet</a
      >

      <div class="w-24" aria-hidden="true"></div>

      <a
        href="/contact"
        class="text-white text-sm lg:text-2xl hover:text-primary font-fruktur tracking-widest uppercase rounded-full px-3 lg:px-6 py-1 lg:py-1.5 hover:bg-secondary transition-all duration-500"
        >Contact</a
      >
    </div>

    <a
      href="/"
      class="absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 z-20 pointer-events-auto"
    >
      <img
        src="/src/assets/icons/logo.svg"
        alt="Logo"
        class="w-20 h-20 lg:w-28 lg:h-28 hover:scale-105 -rotate-1 hover:rotate-3 transition-all duration-300"
      />
    </a>
  </nav>
</header>