---
import Layout from "../../layouts/Layout.astro";
import { getProjet, allProjets } from "../../../backend/backend.mjs";

export async function getStaticPaths() {
  const projets = await allProjets();

  return projets.map((projet) => ({
    params: { id: projet.id.toString() },
    props: { projet },
  }));
}

const { id } = Astro.params;
const projet = await getProjet(id);

if (!projet) {
  return Astro.redirect("/404");
}
---

<Layout>
  <h1>Projet {id}</h1>
</Layout>
